---
---

@import "minima";

.post-list-heading {
  display: none;
}

.site-header {
  display: none;
}

.rss-subscribe {
  display: none;
}

.site-footer {
  display: none;
}

.site-nav {
  display: none;
}

.site-title {
  display: none;
}

.post-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
